{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/common-web/unity/style.css">
    <link href="/static/common-web/css/cover.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
{% endblock css %}


{% block js %}
    <script src="/static/common-web/unity/UnityProgress.js"></script>
{% endblock js %}


{% block body %}
    <body>
    {% include "visitor/navbar.html" %}
    <br>
    <div class="container">
        <div class="template-wrap clear">
            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="500px" width="800px"></canvas>
            <br>
            <div class="fullscreen"><img src="/static/common-web/unity/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
            <div class="title btn-info" style="background-color: #1eaed3;" onclick="SetFullscreen(1);">Fullscreen mode</div>
            <div class="title" style="float: right;">{{ title }}</div>
        </div>
        <p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>

    </div>

    <script type='text/javascript'>
        var Module = {
            TOTAL_MEMORY: {{ total_memory }},
            errorhandler: null,
            compatibilitycheck: null,
            dataUrl: "{{ data }}",
            codeUrl: "{{ js }}",
            memUrl: "{{ mem  }}",

        };
    </script>
    <script src="/static/common-web/unity/UnityLoader.js"></script>
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        //#to-top button appears after scrolling
        var fixed = false;
        $(document).scroll(function() {
            if ($(this).scrollTop() > 250) {
                if (!fixed) {
                    fixed = true;
                    // $('#to-top').css({position:'fixed', display:'block'});
                    $('#to-top').show("slow", function() {
                        $('#to-top').css({
                            position: 'fixed',
                            display: 'block'
                        });
                    });
                }
            } else {
                if (fixed) {
                    fixed = false;
                    $('#to-top').hide("slow", function() {
                        $('#to-top').css({
                            display: 'none'
                        });
                    });
                }
            }
        });
    </script>
    </body>
{% endblock body %}
