{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "visitor/navbar.html" %}
    <br>
    <div class="container">
        <h2>Current exhibits on {{ exhibition_name }}</h2>
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for exhibit in exhibits %}
                    <form method="POST" action="/visitor/visualization">
                        <tr>
                            {% csrf_token %}
                            <input type="hidden" id="exhibit_{{ exhibit.id }}"
                                   name="exhibit" value="{{ exhibit.id }}" />
                            <td>{{ exhibit.name }}</td>
                            <td> <button class= "btn btn-sm btn-success" type="submit">Display</button></td>
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock body %}
