{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/common-web/unity/style.css">
{% endblock css %}


{% block js %}
    <script src="/static/common-web/unity/UnityProgress.js"></script>
{% endblock js %}


{% block body %}
    <body>
    <div class="container">
        <div class="template-wrap clear">
            <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="500px" width="800px"></canvas>
            <br>
            <div class="fullscreen"><img src="/static/common-web/unity/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
            <div class="title btn-info" style="background-color: #1eaed3;" onclick="SetFullscreen(1);">Fullscreen mode</div>
            <div class="title" style="float: right;">{{ title }}</div>
        </div>
        <p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>

    </div>

    <script type='text/javascript'>
        var Module = {
            TOTAL_MEMORY: {{ total_memory }},
            errorhandler: null,
            compatibilitycheck: null,
            dataUrl: "{{ data }}",
            codeUrl: "{{ js }}",
            memUrl: "{{ mem  }}",

        };
    </script>
    <script src="/static/common-web/unity/UnityLoader.js"></script>
    </body>
{% endblock body %}
