{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/bower_components/jquery-bar-rating/dist/themes/bars-square.css">
{% endblock css %}


{% block js %}
    <script src="/static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#rating').barrating({
                theme: 'bars-square',
                showValues:true,
                showSelectedRating:false
            });
        });
    </script>
{% endblock js %}


{% block body %}
    <body>
    {% include "visitor/navbar.html" %}
    <div class="container">
        <h2>Opinion's form</h2>
        {% for failure in error %}
            <div class="alert alert-danger">
                <strong>Error!</strong> {{ failure }}
            </div>
        {% endfor %}
        {% for hit in success%}
            <div class="alert alert-success">
                <strong>Success!</strong> {{ hit }}
            </div>
        {% endfor %}
        <br>
        <div class="jumbotron">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <h4>Name:</h4>
                        <input type="text" name="name" placeholder="Your name" class="form-control" maxlength="30">
                        <h4>Email:</h4>
                        <input type="email" name="email" placeholder="your@email.com" class="form-control">
                        <h4>Rating:</h4>
                        <select name="rating" id="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br>
                        <h4>Opinion: </h4>
                        <textarea cols="89" name="opinion" maxlength="255" rows="5"></textarea>
                        <button class="btn btn-sm btn-info btn-block" type="submit">Send your opinion</button>
                        <input type="hidden" name="exhibit" value="{{ exhibit_id }}" />
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </form>
        </div>
    </div>
    </body>
{% endblock body %}
