{% extends "base/base.html" %}

{% block css %}
    <link href="/static/common-web/css/cover.css" rel="stylesheet">
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                {% include "common-web/basic-navbar.html" %}

                <div class="inner cover">
                    <h1 class="cover-heading">Virtual Museums</h1>
                    <p class="lead">The current site is under the administration of {{ administration }} and you can contact us
                        sending an email to {{ email }}</p>
                    <p class="lead">
                        <a href="/visitor" class="btn btn-lg btn-default">Enter as Visitor</a>
                    </p>
                </div>

                {% include "common-web/footer.html" %}

            </div>

        </div>

    </div>
    </body>
{% endblock body %}
