{% extends "base/base.html" %}

{% block css %}
    <link href="/static/common-web/css/cover.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "common-web/basic-navbar.html" %}
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="btn-dark">Virtual Museums</h1>
            <h3 class="btn-dark">The current site is under the administration of {{ administration }} and you can contact us
                sending an email to {{ email }}</h3>
            <br>
            <a href="/visitor" class="btn btn-dark btn-lg">Enter as Visitor</a>
        </div>
    </header>

    {% include "common-web/footer.html" %}
    </body>
{% endblock body %}
