{% extends "base/base.html" %}

{% block css %}
    <link href="/static/common-web/css/cover.css" rel="stylesheet">
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
<body>
  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Virtual Museums</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="/curator">Curator</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Virtual Museums</h1>
            <p class="lead">Welcome to the web platform built to create, explore and learn about museums and all the great potential they have in smart cities!</p>
            <p class="lead">
              <a href="/visitor" class="btn btn-lg btn-default">Enter as Visitor</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Framework designed by <a href="https://github.com/Michotastico">@Michotastico</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
</body>
{% endblock body %}
