<h2>Resources</h2>
<form method="POST" action="/curator/resources" class="form-inline ng-pristine ng-valid">
    {% csrf_token %}
    <label >Type: </label>
    <select name="resource" class="form-control ng-pristine ng-valid ng-empty ng-touched" onChange="form.submit();">
        <option value="" disabled="" class="" {{ header.selected }}>{{ header.display }}</option>
        {% for element in options %}
            <option label="{{ element.value }}" value="{{ element.value }}" {{ element.selected }}>
                {{ element.display }}
            </option>
        {% endfor %}
    </select>
    <input type="hidden" id="new-resource" name="new-resource" value="0" />
    <button class= "btn btn-sm btn-success" type="button" onclick="document.getElementById('new-resource').value = '1';
    form.submit();">Add new resource</button>
</form>
<br>
