{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        {% include "curator/resources/resources-base.html" %}
        <div class="panel panel-default">
            <div class="panel-heading">Music</div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Music file</th>
                    <th>Used in</th>
                </tr>
                </thead>
                <tbody>
                {%  for element in elements%}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ element.title }}</td>
                        <td>{{ element.description }}</td>
                        <td><audio controls>
                            <source src="{{ element.href }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio></td>
                        <!--TODO need to implement new model for this select -->
                        <td><select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                            <option value="" disabled="" class="" selected="selected">Rooms</option>
                            <option label="Master room" value="master-room">Master room</option>
                            <option label="Front yard" value="front-yard">Front yard</option>
                        </select></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    </body>
{% endblock body %}
