{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        {% include "curator/resources/resources-base.html" %}

        <div class="panel panel-default">
            <div class="panel-heading">Images</div>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                {%  for element in elements%}
                    <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ element.title }}</td>
                    <td>
                    <a  class="thumbnail">
                        <img src="{{ element.href }}" alt="{{ element.description }}">
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock body %}
