{% extends "base/base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/bower_components/jquery-bar-rating/dist/themes/bars-square.css">
{% endblock css %}


{% block js %}
    <script src="/static/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>Exhibits</h2>
        <br>
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>In active exhibitions</th>
                    <th>Visitors</th>
                    <th>Rating</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for exhibit in exhibits %}
                    <tr>
                        <form method="POST" action="/curator/exhibits">
                            {% csrf_token %}
                            <input type="hidden" id="id_exhibition_{{ exhibit.id }}"
                                   name="id_exhibit" value="{{ exhibit.id }}" />
                            <input type="hidden" id="delete_{{ exhibit.id }}" name="delete" value="0" />
                            <input type="hidden" id="preview_{{ exhibit.id }}" name="preview" value="0" />
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ exhibit.name }}</td>
                            <td>{{ exhibit.published }}</td>
                            <td>{{ exhibit.visitors }}</td>
                            <td>
                                <select id="rating_{{ exhibit.id }}">
                                    <option value=""></option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </td>
                            <td>

                                <button class= "btn btn-sm btn-info" type="button"
                                        onclick="document.getElementById('preview_{{ exhibit.id }}').value='1';
                                                form.submit();">Preview</button>
                                <button class= "btn btn-sm btn-danger" type="button"
                                        onclick="if (confirm('You really want to delete this exhibit') == true) {
                                                document.getElementById('delete_{{ exhibit.id }}').value='1';
                                                form.submit();}">Delete</button>
                            </td>
                        </form>

                        <script type="text/javascript">
                            $(function() {
                                $('#rating_{{ exhibit.id }}').barrating({
                                    theme: 'bars-square',
                                    showValues:true,
                                    readonly:true,
                                    allowEmpty:true,
                                    initialRating: {{ exhibit.rating }},
                                    showSelectedRating:false
                                });
                            });
                        </script>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock body %}
