{% load group_permission %}
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Virtual Museums</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li{% if request.resolver_match.url_name == 'scheduling' %} class="active"{% endif %}><a href="/curator/scheduling">Scheduling</a></li>
                {% if request.user|has_group:"Opinion_team" %}
                    <li{% if request.resolver_match.url_name == 'opinions' %} class="active"{% endif %}><a href="/curator/opinions">Opinions</a></li>
                {% endif %}
                {% if request.user|has_group:"Museum_team" %}
                    {% with 'exhibits new-unity' as list%}
                        <li{% if request.resolver_match.url_name in list.split%} class="active dropdown"{% else %} class="dropdown"{% endif %}>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exhibits <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li{% if request.resolver_match.url_name == 'exhibit' %} class="active"{% endif %}><a href="/curator/exhibits">Existing Exhibits</a></li>
                                <li role="separator" class="divider"></li>
                                <li{% if request.resolver_match.url_name == 'new-unity' %} class="active"{% endif %}><a href="/curator/add-unity-exhibit">Add Unity Exhibit</a></li>
                            </ul>
                        </li>
                    {% endwith %}
                {% endif %}
                {% if request.user|has_group:"Resources_team" %}
                    <li{% if request.resolver_match.url_name == 'resources' %} class="active"{% endif %}><a href="/curator/resources">Resources</a></li>
                {% endif %}
                {% with 'account' as list%}
                    <li{% if request.resolver_match.url_name in list.split%} class="active dropdown"{% else %} class="dropdown"{% endif %}>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li{% if request.resolver_match.url_name == 'account' %} class="active"{% endif %}><a href="/curator/account">Account</a></li>
                            <li><a href="/auth/logout">Logout</a></li>
                        </ul>
                    </li>
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>