{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>People's Opinion</h2>
        {% if success %}
            <div class="alert alert-success">
                <strong>Success!</strong> Your action was performed correctly.
            </div>
        {% endif %}
        <form method="POST" action="/curator/opinions" class="form-inline ng-pristine ng-valid">
            {% csrf_token %}
            <label >Select Room: </label>
            <select name="room" class="form-control ng-pristine ng-valid ng-empty ng-touched" onChange="form.submit();">
                <option value="" disabled="" class="" {{ header.selected }}>{{ header.display }}</option>
                {% for element in options %}
                    <option label="{{ element.value }}" value="{{ element.value }}" {{ element.selected }}>
                        {{ element.display }}
                    </option>
                {% endfor %}
            </select>
            <label class="checkbox-inline"><input type="checkbox" name="approved" {{ approved }}>Approved</label>
            <label class="checkbox-inline"><input type="checkbox" name="pending" {{ pending }}>Pending</label>
        </form>
        <br>
        <div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="thumbnail">
                            <img src="https://api.adorable.io/avatars/180/dummy%40virtual.museum" alt="...">
                        </a>
                        <p class="text-center">John</p>
                    </div>
                    <div class="col-md-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a neque vel quam interdum consectetur id sit amet metus. Aenean id pharetra metus. Phasellus vulputate lorem justo, ac cursus eros consequat a. Ut congue, ante sit amet volutpat cursus, risus urna ornare dui, tincidunt malesuada massa sapien in ante. Curabitur tincidunt magna vitae massa maximus vehicula. Nullam vulputate, neque lacinia vulputate ullamcorper, orci enim mollis nibh, id mattis quam turpis sed elit. Nulla vitae feugiat orci.</div>
                    <div class="col-md-2">
                        <button class= "btn btn-sm btn-warning btn-block" type="button">Approve</button>
                        <button class= "btn btn-sm btn-danger btn-block" type="button">Delete</button>
                        <button class="btn btn-sm btn-info btn-block" type="button">Send message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock body %}
