{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>People's Opinion</h2>
        {% if success %}
            <div class="alert alert-success">
                <strong>Success!</strong> Your action was performed correctly.
            </div>
        {% endif %}
        <form method="POST" action="/curator/opinions" class="form-inline ng-pristine ng-valid">
            {% csrf_token %}
            <label >Select Room: </label>
            <select name="room" class="form-control ng-pristine ng-valid ng-empty ng-touched" onChange="form.submit();">
                <option value="" disabled="" class="" {{ header.selected }}>{{ header.display }}</option>
                {% for element in options %}
                    <option label="{{ element.value }}" value="{{ element.value }}" {{ element.selected }}>
                        {{ element.display }}
                    </option>
                {% endfor %}
            </select>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary {% if approved %} active {% endif %}"><input type="checkbox" name="approved" {{ approved }} onChange="form.submit();">Approved</label>
                <label class="btn btn-primary {% if pending %} active {% endif %}"><input type="checkbox" name="pending" {{ pending }} onChange="form.submit();">Pending</label>
            </div>
        </form>
        <br>
        <div>
            {% for opinion in opinions %}

                <div class="jumbotron">
                    <form method="POST" action="/curator/opinions">
                        {% csrf_token %}
                        <input type="hidden" id="id_opinion" name="id_opinion" value="{{ opinion.id }}" />
                        <input type="hidden" id="delete_{{ opinion.id }}" name="delete" value="0" />
                        <input type="hidden" id="reverse_{{ opinion.id }}" name="reverse" value="0" />
                        <input type="hidden" id="room" name="room" value="{{ current_room }}" />
                        {% if approved %}<input type="hidden" id="approved" name="approved" value="1" />{% endif %}
                        {% if pending %}<input type="hidden" id="pending" name="pending" value="1" />{% endif %}
                        <div class="row">
                            <div class="col-md-2">
                                <a class="thumbnail">
                                    <img src="{{ opinion.avatar }}" alt="User avatar">
                                </a>
                                <p class="text-center">{{ opinion.name }}</p>
                            </div>
                            <div class="col-md-8">{{ opinion.opinion }}</div>
                            <div class="col-md-2">
                                <button class= "btn btn-sm btn-warning btn-block" type="button"
                                        onclick="if (confirm('You really want to change status of this opinion') == true) {
                                                document.getElementById('reverse_{{ opinion.id }}').value = '1'; form.submit();}">
                                    {% if opinion.status == False %}Approve {% else %} Disapprove {% endif %}</button>
                                <button class= "btn btn-sm btn-danger btn-block" type="button"
                                        onclick="if (confirm('You really want to delete this opinion') == true) {
                                                document.getElementById('delete_{{ opinion.id }}').value = '1'; form.submit();}">
                                    Delete</button>
                                <a class="btn btn-sm btn-info btn-block" type="button" href="mailto:{{ opinion.email }}">Send email</a>
                            </div>
                        </div>
                    </form>
                </div>


            {% endfor %}
        </div>
    </div>
    </body>
{% endblock body %}
