{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>Rooms</h2>
        <form class="form-inline ng-pristine ng-valid">
            <label >Select Room: </label>
            <select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                <option value="" disabled="" class="" selected="selected">Select a Room from the list:</option>
                <option label="Master room" value="master-room">Master room</option>
                <option label="Front yard" value="front-yard">Front yard</option>
            </select>
        </form>
        <br>
        <div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="thumbnail">
                            <img src="/static/images/user_default.png" alt="...">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox"><label><input type="checkbox" value="published">Published Room</label></div>
                        <h4>Connected to Room:</h4>
                        <div class="form-inline" >
                            <label>North:</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                <option value="" disabled="" class="" selected="selected">None</option>
                                <option label="Master room" value="master-room">Master room</option>
                                <option label="Front yard" value="front-yard">Front yard</option>
                                <option label="None" value="front-yard">None</option>
                            </select>
                            <label>South:</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                <option value="" disabled="" class="" selected="selected">None</option>
                                <option label="Master room" value="master-room">Master room</option>
                                <option label="Front yard" value="front-yard">Front yard</option>
                                <option label="None" value="front-yard">None</option>
                            </select>
                        </div>
                        <div class="form-inline" >
                            <label>West:</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                <option value="" disabled="" class="" selected="selected">None</option>
                                <option label="Master room" value="master-room">Master room</option>
                                <option label="Front yard" value="front-yard">Front yard</option>
                                <option label="None" value="front-yard">None</option>
                            </select>
                            <label>East:</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched">
                                <option value="" disabled="" class="" selected="selected">None</option>
                                <option label="Master room" value="master-room">Master room</option>
                                <option label="Front yard" value="front-yard">Front yard</option>
                                <option label="None" value="front-yard">None</option>
                            </select>
                        </div>
                        <button class= "btn btn-sm btn-danger btn-block" type="button">Delete</button>
                        <button class="btn btn-sm btn-info btn-block" type="button">Send message</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </body>
{% endblock body %}
