{% extends "base/base.html" %}
{% load group_permission %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>Scheduling</h2>
        {% if request.user|has_group:"Scheduling_team" %}
            <a href="/curator/scheduling-exhibition" class="btn btn-sm btn-success">Add new exhibition</a>
            <br>
            <br>
        {% endif %}
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Initial Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    {% if request.user|has_group:"Scheduling_team" %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for exhibition in exhibitions %}
                    <tr>
                        <form method="POST" action="/curator/scheduling">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ exhibition.name }}</td>
                            <td>{{ exhibition.start_time }}</td>
                            <td>{{ exhibition.end_time }}</td>
                            <td>{{ exhibition.status }}</td>
                            {% if request.user|has_group:"Scheduling_team" %}
                                {% csrf_token %}
                                <input type="hidden" id="id_exhibition_{{ exhibition.id }}"
                                       name="id_exhibition" value="{{ exhibition.id }}" />
                                <input type="hidden" id="editing_{{ exhibition.id }}" name="editing" value="0" />
                                <input type="hidden" id="delete_{{ exhibition.id }}" name="delete" value="0" />
                                <input type="hidden" id="changing_status_{{ exhibition.id }}"
                                       name="changing_status" value="0" />
                                <td>
                                    <button class= "btn btn-sm btn-info" type="button"
                                            onclick="document.getElementById('editing_{{ exhibition.id }}').value='1';form.submit();">Edit</button>
                                    <button class= "btn btn-sm btn-danger" type="button"
                                            onclick="if (confirm('You really want to delete this exhibition') == true) {
                                                document.getElementById('delete_{{ exhibition.id }}').value = '1'; form.submit();}">Delete</button>
                                    <button class="btn btn-sm btn-warning" type="button"
                                            onclick="document.getElementById('changing_status_{{ exhibition.id }}').value='1';form.submit();">
                                        {% if exhibition.status == 'Active' %}
                                            Desactive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </button>
                                </td>
                            {% endif %}
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock body %}
