{% extends "base/base.html" %}
{% load group_permission %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}
    <div class="container">
        <h2>Scheduling</h2>
        {% if request.user|has_group:"Scheduling_team" %}
            <a href="/curator/scheduling-exposition" class="btn btn-sm btn-success">Add new exposition</a>
            <br>
            <br>
        {% endif %}
        <div class="jumbotron">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Initial Date</th>
                    <th>End Date</th>
                    <th>Exhibit</th>
                    {% if request.user|has_group:"Scheduling_team" %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for exposition in expositions %}
                    <tr>
                        <form method="POST" action="/curator/scheduling">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ exposition.name }}</td>
                            <td>{{ exposition.status }}</td>
                            <td>{{ exposition.start_time }}</td>
                            <td>{{ exposition.end_time }}</td>
                            <td>{{ exposition.exhibit }}</td>
                            {% if request.user|has_group:"Scheduling_team" %}
                                {% csrf_token %}
                                <input type="hidden" id="id_exposition_{{ exposition.id }}"
                                       name="id_exposition" value="{{ exposition.id }}" />
                                <input type="hidden" id="editing_{{ exposition.id }}" name="editing" value="0" />
                                <input type="hidden" id="changing_status_{{ exposition.id }}"
                                       name="changing_status" value="0" />
                                <td>
                                    <button class="btn btn-sm btn-warning" type="button"
                                            onclick="document.getElementById('changing_status_{{ exposition.id }}').value='1';form.submit();">
                                        {% if exposition.status == 'Active' %}
                                            Desactive
                                        {% else %}
                                            Active
                                        {% endif %}
                                    </button>
                                    <button class= "btn btn-sm btn-info" type="button"
                                            onclick="document.getElementById('editing_{{ exposition.id }}').value='1';form.submit();">Edit</button>
                                </td>
                            {% endif %}
                        </form>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </body>
{% endblock body %}
