{% extends "base/base.html" %}

{% block css %}
{% endblock css %}


{% block js %}
{% endblock js %}


{% block body %}
    <body>
    {% include "curator/navbar.html" %}

    <div class="container">
        <h2>Add Unity Museum</h2>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper">
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                {% endif %}
                                <div class="form-group row">
                                    <label for="{{ field.id_for_label }}" class="col-md-6 col-form-label">{{ field.label }}:</label>
                                    <div class="col-md-6">
                                        {{ field }}
                                    </div>
                                </div>

                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                                {% if field.errors %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button class="btn btn-sm btn-info" type="submit">Upload museum</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    </body>
{% endblock body %}
